<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new product</title>
    <style>
        .message{
            color: green;
        }
    </style>
</head>
<body>
    <h1>Create new Product</h1>
    <a th:href="@{/product}">Back to product list</a>
    <p>
        <span class="message" th:if="${message != null}" th:text="${message}"></span>
    </p>
    <form th:action="@{/new}" method="post" th:object="${product}">
        <fieldset>
            <legend>Product information</legend>
            <table>
                <tr>
                    <td><label for="code">Code:</label></td>
                    <td><input type="text" id="code" name="code" th:field="*{code}" /></td>
                </tr>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td><label for="price">Price:</label></td>
                    <td><input type="text" id="price" name="price" th:field="*{price}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Create product</button></td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>
</html>
