<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <p><a th:href="@{/new}">Add new product</a></p>
    <p>There are <span th:text="${products.size()}"></span> products in this list.</p>
    <table border="1">
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td><a th:href="@{'/view?id=' + ${product.id}}" th:text="${product.name}"></a></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
</body>
</html>
